<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>{{title}} | Flask Experiment</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/screen.css') }}">
 </head>
 <body>
    <header>
		<h1>{{title}}</h1>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {% block content %}
    {% endblock %}
 </body>
</html>